<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Booking </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href=@Url.Content("~/Content/style.css") />

</head>
<body>

    
    <div class="container body-content">
        <header id="header" class="col-md-12 text-center">
            <h1> Booking </h1>
        </header>
        @Html.Partial("~/Views/Shared/_Nav.cshtml")
       
        <aside class="col-md-4">
            <fieldset>
                <legend>This is the aside</legend>
                <ul>
                    <li><a target="_self" href="#tableSection"> Table Section</a></li>
                    <li><a target="_self" href="#searchSection"> Search hotel form Section</a></li>
                    <li><a target="_self" href="#lastMinuteDealsSection"> Last minutes deals</a></li>
                </ul>
            </fieldset>
        </aside>
            @RenderBody()
            <footer>
                <p> From zero to hero (at)Teamnet Iasi</p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
