@{
    ViewBag.Title = "Index";
}
@model IEnumerable<FZTH.MVC.Models.Hotel>

        <section title="Search" id="searchSection">

            
            <form method="post" action="#" class="form-horizontal">
                <fieldset>
                    <legend>Reservation Form</legend>
                    
                    <div class="form-group">
                        <label for="cityName" class="control-label col-md-2"> City</label>
                        <div class="col-md-4">
                            <select id="cityName" class="form-control col-md-4">
                                <option value="Iasi">Iasi</option>
                                <option value="Bucharest">Bucharest</option>
                                <option value="London">London</option>
                                <option value="New York">New York</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="check-inDate" class="control-label col-md-2"> Check-in Date</label>
                        <div class="col-md-4">
                            <div class="container">
                                <div class="row">
                                    <div class='col-md-4'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepickerIn'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <input type="submit" value="Reserve" class="btn btn-default" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="check-outDate" class="control-label col-md-2"> Check-out Date</label>

                        <div class="col-md-4">
                            <div class="container">
                                <div class="row">
                                    <div class='col-md-4'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepickerOut'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </fieldset>
            </form>

            <a target="_top" href="#header"> Go to top</a>
        </section>
        <br />
        <section id="tableSection">
            <h3>Hotel List</h3>
            @Html.ActionLink("Create New", "Create", "Hotel")
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>County</th>
                    <th>Km to Center</th>
                    <th>Opening Date</th>
                    <th>Rooms</th>
                    <th>Stars</th>
                    <th>Operations</th>
                </tr>

                @{
                    int colorI = 1;
                    
                    foreach (var hotel in Model)
                    {
                        var color = "pink";
                        var newClass = "table-odd-row";
                        if (colorI % 2 == 0)
                        {
                            color = "green";
                            newClass = "table-even-row";
                        }
                        colorI++;
                        <tr class="@newClass">
                            <td> @hotel.Name</td>
                            <td> @hotel.Description</td>
                            <td> @hotel.Address</td>
                            <td> @hotel.City.Name</td>
                            <td> @hotel.City.County.Name</td>
                            <td> @hotel.DistanceToCenter</td>
                            <td> @hotel.OpeningDate</td>
                            <td> @hotel.Rooms.Length</td>
                            <td>
                                @for (int i = 0; i < @hotel.Stars; i++)
                                {
                                    <img src="~/images/star.gif" alt="Noo star for you" height="20" width="20" />
                                }
                            </td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = hotel.Id})|@Html.ActionLink("Delete", "Delete", new { id = hotel.Id }) </td>
                        </tr>

                    }
                }



            </table>
            <a target="_top" href="#header"> Go to top</a>
        </section>


        <br />
        <section id="lastMinuteDealsSection">

            <h3>Last minute deals</h3>
            <dl>
                <dt>Hotel 1</dt>
                <dd><img src="~/images/hotel1.gif" class="img-responsive img-circle" /></dd>
                <dd>Discount 10%</dd>
            </dl>

            <dl>
                <dt>Hotel 2</dt>
                <dd><img src="~/images/hotel2.gif" class="img-responsive img-circle" /></dd>
                <dd><p>Discount 40%</p></dd>
            </dl>

            <a target="_self" href="#header"> Go to top</a>
        </section>
